// ======================== MEDIA QUERY MANAGE ======================== //

// ======================== Media Desktop-First ======================= //

// ==================================================================== //
// 	 0 - 640px: Extra small devices (port-phone)
// 	 640px - 768px: Small devices (land-phone)
// 	 768px - 1024x: Medium devices (tablet)
// 	 1024x - 1280px: Large devices (desktop)
// 	 1280px - 1536px: Where our normal style apply (big desktop, laptop)
// 	 1536px: Extra large devices (large-desktop)
// ==================================================================== //

@mixin respon($breakpoint) {
	@if $breakpoint == port-phone {
		@media only screen and (max-width: 639.98px) {
			@content;
		}
	}

	@if $breakpoint == land-phone {
		@media only screen and (max-width: 767.98px) {
			@content;
		}
	}

	@if $breakpoint == only-tablet {
		@media only screen and (min-width: 768px) and (max-width: 1023.98px) {
			@content;
		}
	}

	@if $breakpoint == tablet {
		@media only screen and (max-width: 1023.98px) {
			@content;
		}
	}

	@if $breakpoint == only-desktop {
		@media only screen and (min-width: 1024px) and (max-width: 1279.98px) {
			@content;
		}
	}

	@if $breakpoint == desktop {
		@media only screen and (max-width: 1279.98px) {
			@content;
		}
	}

	@if $breakpoint == large-desktop {
		@media only screen and (min-width: 1536px) {
			@content;
		}
	}
}

@mixin two-device {
	@media only screen and (max-width: 37.5em) {
		@content;
	}
	@media only screen and (max-width: 56.25em) {
		@content;
	}
}

@mixin clearfix() {
	&::after {
		display: block;
		clear: both;
		content: "";
	}
}

@mixin bg-darken($bgImg) {
	background-size: cover;
	background-image: linear-gradient(
			rgba($color-black, 0.5),
			rgba($color-black, 0.5)
		),
		url($bgImg);
	position: relative;
}

// @include bg-darken(
//	 "https://download.unsplash.com/photo-1428604467652-115d9d71a7f1"
// );
