/* ================ Animations =============== */
.animation-blur {
	position: relative;

	&::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;

		display: block;
		width: 100%;
		height: 100%;
		border-radius: 50%;

		background-color: currentColor;

		animation: blur 1.5s infinite;
	}

	&:hover {
		&::after {
			z-index: -1;
			animation: none;
		}
	}

	@keyframes blur {
		from {
			transform: scale(0.5, 0.5);
			opacity: 0.5;
			z-index: -1;
		}

		to {
			transform: scale(2.5, 2.5);
			opacity: 0;
			z-index: 1;
		}
	}
}
