/* =================== Base ================== */

* {
	&,
	&::before,
	&::after {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
	}
}

html {
	-webkit-font-smoothing: antialiased;
	font-size: 62.5% !important; //1rem = 10px

	@include respon(land-phone) {
		font-size: 50% !important; //1rem = 8px
	}

	@include respon(only-tablet) {
		font-size: 56.25% !important; //1rem = 9px
	}

	@include respon(large-desktop) {
		font-size: 75% !important; //1rem= 12px
	}
}

body {
	width: 100%;
	max-width: 100%;
	min-height: 100vh;
	position: relative;
	overflow-x: hidden;
}

a,
a:link,
a:visited {
	text-decoration: none;
}

ul {
	list-style: none;
}

img {
	display: inline-block;
	width: 100%;
	max-width: 100%;
	object-fit: cover;
	object-position: center;
}
