.library {
	display: flex;
	flex-wrap: wrap;

	&__likedsongs {
		position: relative;
	}

	&_playlist {
		grid-column: 1/2;
	}

	&__player-icon {
		position: absolute;
		bottom: 10px;
		right: 15px;
		visibility: hidden;
		z-index: -1;
		width: 50px;
		height: 50px;
		cursor: pointer;
		transition: all 0.25s ease-in-out;
	}

	&__likedsongs:hover &__player-icon,
	&__playlist:hover &__player-icon {
		bottom: 15px;
		visibility: visible;
		z-index: 1;
	}
}

.library-list {
	&__list {
		display: flex;
		align-items: center;
	}

	&__item {
		margin: 0 10px;
		padding: 9px 10px;
		min-width: 98px;
		background-color: transparent;
		font-size: 15px;
		font-weight: bold;
		text-align: center;
		border-radius: 5px;
		cursor: pointer;
		transition: all 0.25s ease-in-out;

		&-active {
			background-color: #424242;
		}
	}
}
